.form__input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-width: 300px;
    width: 100%;
}

.selectCurrency {
    display: inline-block;
    margin: 10px 20px 0 0;
}

.footer {
    padding: 5px 0 20px;
}